<a href="https://colab.research.google.com/github/OJO44/Python-Data-Analysis/blob/main/PdPractice2S%26F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sorting and Filtering Data

In [4]:
#Step 1. Import the necessary libraries
import pandas as pd

In [5]:
#Step 2. Import the dataset from this address.
#Step 3. Assign it to a variable called chipo.
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(address, sep='\t')
print(chipo)
# Step 4. How many products cost more than $10.00?
products_above_10 = chipo[chipo['item_price'].str.replace('$', '').astype(float) > 10.00]
count_products_above_10 = products_above_10['item_name'].nunique()
print("\n")
print(f"The number of products that cost more than $10.00 is: {count_products_above_10}")

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]


The number of products that cost more than $10.00 is: 31

In [7]:
# Step 5. What is the price of each item?
each_item_price_df = chipo[['item_name', 'item_price']]
print(each_item_price_df)

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

In [11]:
#Step 6. Sort by the name of the item
sorted_item_price_df = each_item_price_df.sort_values(by='item_name')
print(sorted_item_price_df)
sorted_item_price_df.head(20)

              item_name item_price
3389  6 Pack Soft Drink    $12.98
341   6 Pack Soft Drink     $6.49
1849  6 Pack Soft Drink     $6.49
1860  6 Pack Soft Drink     $6.49
2713  6 Pack Soft Drink     $6.49
...                 ...        ...
2384  Veggie Soft Tacos     $8.75
781   Veggie Soft Tacos     $8.75
2851  Veggie Soft Tacos     $8.49
1699  Veggie Soft Tacos    $11.25
1395  Veggie Soft Tacos     $8.49

[4622 rows x 2 columns]

              item_name item_price
3389  6 Pack Soft Drink    $12.98
341   6 Pack Soft Drink     $6.49
1849  6 Pack Soft Drink     $6.49
1860  6 Pack Soft Drink     $6.49
2713  6 Pack Soft Drink     $6.49
3422  6 Pack Soft Drink     $6.49
553   6 Pack Soft Drink     $6.49
1916  6 Pack Soft Drink     $6.49
1922  6 Pack Soft Drink     $6.49
1937  6 Pack Soft Drink     $6.49
3836  6 Pack Soft Drink     $6.49
298   6 Pack Soft Drink     $6.49
1976  6 Pack Soft Drink     $6.49
1167  6 Pack Soft Drink     $6.49
3875  6 Pack Soft Drink     $6.49
1124  6 Pack Soft Drink     $6.49
3886  6 Pack Soft Drink     $6.49
2108  6 Pack Soft Drink     $6.49
3010  6 Pack Soft Drink     $6.49
4535  6 Pack Soft Drink     $6.49

In [13]:
#Step 7. What was the quantity of the most expensive item ordered?
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)  # Convert item_price to float
most_expensive_item = chipo.loc[chipo['item_price'].idxmax()]
print(most_expensive_item)

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

In [15]:
#Step 8. How many times was a Veggie Salad Bowl ordered?
Veggie_Salad_Bowl = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
Veggie_Salad_Bowl_Count = Veggie_Salad_Bowl['quantity'].sum()
print(Veggie_Salad_Bowl_Count)

18

In [ ]:
#Step 9. How many times did someone order more than one Canned Soda?