<a href="https://colab.research.google.com/github/OJO44/Python-Data-Analysis/blob/main/PdPractice2S%26F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sorting and Filtering Data

In [1]:
#Step 1. Import the necessary libraries
import pandas as pd

In [3]:
# Step 2. Import the dataset from this address.
# Step 3. Assign it to a variable called chipo.
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(address, sep='\t') #allows pandas to use the tab character as the delimiter while reading the file and will assist in solving the parsing error
print(chipo)

# Step 4. How many products cost more than $10.00?
products_above_10 = chipo[chipo['item_price'].str.replace('$', '').astype(float) > 10.00]
count_products_above_10 = products_above_10['item_name'].nunique()
print("\n")
print(f"The number of products that cost more than $10.00 is: {count_products_above_10}")

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]


The number of products that cost more than $10.00 is: 31

In [ ]:
# Step 5. What is the price of each item?
each_item_price_df = chipo[['item_name', 'item_price']]
print(each_item_price_df)

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

In [ ]:
#Step 6. Sort by the name of the item
sorted_item_price_df = each_item_price_df.sort_values(by='item_name')
print(sorted_item_price_df)
sorted_item_price_df.head(20)

              item_name item_price
3389  6 Pack Soft Drink    $12.98
341   6 Pack Soft Drink     $6.49
1849  6 Pack Soft Drink     $6.49
1860  6 Pack Soft Drink     $6.49
2713  6 Pack Soft Drink     $6.49
...                 ...        ...
2384  Veggie Soft Tacos     $8.75
781   Veggie Soft Tacos     $8.75
2851  Veggie Soft Tacos     $8.49
1699  Veggie Soft Tacos    $11.25
1395  Veggie Soft Tacos     $8.49

[4622 rows x 2 columns]

              item_name item_price
3389  6 Pack Soft Drink    $12.98
341   6 Pack Soft Drink     $6.49
1849  6 Pack Soft Drink     $6.49
1860  6 Pack Soft Drink     $6.49
2713  6 Pack Soft Drink     $6.49
3422  6 Pack Soft Drink     $6.49
553   6 Pack Soft Drink     $6.49
1916  6 Pack Soft Drink     $6.49
1922  6 Pack Soft Drink     $6.49
1937  6 Pack Soft Drink     $6.49
3836  6 Pack Soft Drink     $6.49
298   6 Pack Soft Drink     $6.49
1976  6 Pack Soft Drink     $6.49
1167  6 Pack Soft Drink     $6.49
3875  6 Pack Soft Drink     $6.49
1124  6 Pack Soft Drink     $6.49
3886  6 Pack Soft Drink     $6.49
2108  6 Pack Soft Drink     $6.49
3010  6 Pack Soft Drink     $6.49
4535  6 Pack Soft Drink     $6.49

In [ ]:
#Step 7. What was the quantity of the most expensive item ordered?
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)  # Convert item_price to float
most_expensive_item = chipo.loc[chipo['item_price'].idxmax()]
print(most_expensive_item)

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

In [ ]:
#Step 8. How many times was a Veggie Salad Bowl ordered?
Veggie_Salad_Bowl = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
Veggie_Salad_Bowl_Count = Veggie_Salad_Bowl['quantity'].sum()
print(Veggie_Salad_Bowl_Count)

18

In [ ]:
#Step 9. How many times did someone order more than one Canned Soda?

Euro 12

In [4]:
#Step 1. Import the necessary libraries
#Step 2. Import the dataset from this address.
#Step 3. Assign it to a variable called euro12.
address1 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv"
euro12 = pd.DataFrame([address1])
euro12 = pd.read_csv(address1)
print(euro12)

                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

    Hit Woodwork  Penalty goals  Penalties not scored  ...  Saves made  \
0              0              0                     0  ...          13
1              0              0                     0  ...           9
2              1              0                     0  ...          10
3              0              0                     0  ...          22
4              1              0                     0  ...           6
5              2              1                     0  ...          10
6              1              1                     1  ...          13
7              2              0                     0  ...          20
8              2              0                     0  ...          12
9              0              0                     0  ...           6
10             6              0                     0  ...          10
11             0              0                     0  ...          17
12             2              0                     0  ...          10
13             0              1                     0  ...          15
14             3              0                     0  ...           8
15             0              0                     0  ...          13

    Saves-to-shots ratio  Fouls Won Fouls Conceded  Offsides  Yellow Cards  \
0                  81.3%         41             62         2             9
1                  60.1%         53             73         8             7
2                  66.7%         25             38         8             4
3                  88.1%         43             45         6             5
4                  54.6%         36             51         5             6
5                  62.6%         63             49        12             4
6                  65.1%         67             48        12             9
7                  74.1%        101             89        16            16
8                  70.6%         35             30         3             5
9                  66.7%         48             56         3             7
10                 71.5%         73             90        10            12
11                 65.4%         43             51        11             6
12                 77.0%         34             43         4             6
13                 93.8%        102             83        19            11
14                 61.6%         35             51         7             7
15                 76.5%         48             31         4             5

    Red Cards  Subs on  Subs off  Players Used
0           0        9         9            16
1           0       11        11            19
2           0        7         7            15
3           0       11        11            16
4           0       11        11            19
5           0       15        15            17
6           1       12        12            20
7           0       18        18            19
8           0        7         7            15
9           1        7         7            17
10          0       14        14            16
11          1       10        10            17
12          0        7         7            16
13          0       17        17            18
14          0        9         9            18
15          0        9         9            18

[16 rows x 35 columns]

In [ ]:
#Step 4. Select only the Goal column.
Goals_column = euro12["Goals"]
print(Goals_column)

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [ ]:
#Step 5. How many team participated in the Euro2012?
num_teams = len(euro12)
print(num_teams)

16

In [ ]:
#Step 6. What is the number of columns in the dataset?
num_columns = len(euro12.columns)
print(num_columns)

35

In [5]:
#Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline
discipline =euro12[["Team","Yellow Cards","Red Cards"]]
display(discipline)

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [8]:
#Step 8. Sort the teams by Red Cards, then to Yellow Cards
discipline = discipline.sort_values(by=["Red Cards","Yellow Cards"],ascending=False)
display(discipline)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

In [10]:
#Step 9. Calculate the mean Yellow Cards given per Team
Mean_Yellow_Cards= euro12['Yellow Cards'].mean()
display(Mean_Yellow_Cards)

7.4375

In [11]:
#Step 10. Filter teams that scored more than 6 goals
score_above_six= euro12[euro12['Goals'] > 6]
display(score_above_six)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [12]:
#Step 11. Select the teams that start with G
teams_start_with_G = euro12[euro12['Team'].str.startswith('G')]
display(teams_start_with_G)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

In [13]:
#Step 12. Select the first 7 columns
first_7_columns= euro12.iloc[:, :7]
display(first_7_columns)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

In [14]:
#Step 13. Select all columns except the last 3.
all_except_last_3 = euro12.iloc[:,:-3]
display(all_except_last_3)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

In [ ]:
#Step 14. Present only the Shooting Accuracy from England, Italy and Russia

Fictional DataFrame

In [ ]:
2.# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}
print(raw_data)

In [11]:
#Step 3. Create a dataframe and assign it to a variable called army.
army= pd.DataFrame(raw_data)
print(army)

      regiment company  deaths  battles  size  veterans  readiness  armored  \
0   Nighthawks     1st     523        5  1045         1          1        1
1   Nighthawks     1st      52       42   957         5          2        0
2   Nighthawks     2nd      25        2  1099        62          3        1
3   Nighthawks     2nd     616        2  1400        26          3        1
4     Dragoons     1st      43        4  1592        73          2        0
5     Dragoons     1st     234        7  1006        37          1        1
6     Dragoons     2nd     523        8   987       949          2        0
7     Dragoons     2nd      62        3   849        48          3        1
8       Scouts     1st      62        4   973        48          2        0
9       Scouts     1st      73        7  1005       435          1        0
10      Scouts     2nd      37        8  1099        63          2        1
11      Scouts     2nd      35        9  1523       345          3        1

    deserters      origin
0           4     Arizona
1          24  California
2          31       Texas
3           2     Florida
4           3       Maine
5           4        Iowa
6          24      Alaska
7          31  Washington
8           2      Oregon
9           3     Wyoming
10          2    Louisana
11          3     Georgia
Index(['regiment', 'company', 'deaths', 'battles', 'size', 'veterans',
       'readiness', 'armored', 'deserters', 'origin'],
      dtype='object')

In [ ]:
#Step 4. Set the 'origin' column as the index of the dataframe

In [9]:
#Step 6. Print the columns 'veterans' and 'deaths'
print(army[["veterans","deaths"]])

    veterans  deaths
0          1     523
1          5      52
2         62      25
3         26     616
4         73      43
5         37     234
6        949     523
7         48      62
8         48      62
9        435      73
10        63      37
11       345      35

In [12]:
#Step 7. Print the name of all the columns
print(army.columns)

Index(['regiment', 'company', 'deaths', 'battles', 'size', 'veterans',
       'readiness', 'armored', 'deserters', 'origin'],
      dtype='object')

In [ ]:
#Step 8. Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska

In [ ]:
#Step 9. Select the rows 3 to 7 and the columns 3 to 6

In [13]:
selected_row = army.iloc[2:7,2:6]
display(selected_row)

   deaths  battles  size  veterans
2      25        2  1099        62
3     616        2  1400        26
4      43        4  1592        73
5     234        7  1006        37
6     523        8   987       949

In [15]:
#Step 10. Select every row after the fourth row and all columns
selected_row_and_column = army.iloc[4:,:]
display(selected_row_and_column)

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters,origin
4,Dragoons,1st,43,4,1592,73,2,0,3,Maine
5,Dragoons,1st,234,7,1006,37,1,1,4,Iowa
6,Dragoons,2nd,523,8,987,949,2,0,24,Alaska
7,Dragoons,2nd,62,3,849,48,3,1,31,Washington
8,Scouts,1st,62,4,973,48,2,0,2,Oregon
9,Scouts,1st,73,7,1005,435,1,0,3,Wyoming
10,Scouts,2nd,37,8,1099,63,2,1,2,Louisana
11,Scouts,2nd,35,9,1523,345,3,1,3,Georgia

In [16]:
#Step 11. Select every row up to the 4th row and all columns:
selected_data = army.iloc[:4,:]
display(selected_data)

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters,origin
0,Nighthawks,1st,523,5,1045,1,1,1,4,Arizona
1,Nighthawks,1st,52,42,957,5,2,0,24,California
2,Nighthawks,2nd,25,2,1099,62,3,1,31,Texas
3,Nighthawks,2nd,616,2,1400,26,3,1,2,Florida

In [17]:
#Step 12. Select the 3rd column up to the 7th column:
selected_data= army.iloc[:,2:7]
display(selected_data)

    deaths  battles  size  veterans  readiness
0      523        5  1045         1          1
1       52       42   957         5          2
2       25        2  1099        62          3
3      616        2  1400        26          3
4       43        4  1592        73          2
5      234        7  1006        37          1
6      523        8   987       949          2
7       62        3   849        48          3
8       62        4   973        48          2
9       73        7  1005       435          1
10      37        8  1099        63          2
11      35        9  1523       345          3

In [18]:
#Step 13. Select rows where df.deaths is greater than 50
selected_data = army[army["deaths"]>50]
display(selected_data)

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters,origin
0,Nighthawks,1st,523,5,1045,1,1,1,4,Arizona
1,Nighthawks,1st,52,42,957,5,2,0,24,California
3,Nighthawks,2nd,616,2,1400,26,3,1,2,Florida
5,Dragoons,1st,234,7,1006,37,1,1,4,Iowa
6,Dragoons,2nd,523,8,987,949,2,0,24,Alaska
7,Dragoons,2nd,62,3,849,48,3,1,31,Washington
8,Scouts,1st,62,4,973,48,2,0,2,Oregon
9,Scouts,1st,73,7,1005,435,1,0,3,Wyoming

In [22]:
#Step 14. Select rows where df.deaths is greater than 500 or less than 50:
selected_data = army[(army["deaths"] > 500) | (army["deaths"] < 50)]
print(selected_data)

      regiment company  deaths  battles  size  veterans  readiness  armored  \
0   Nighthawks     1st     523        5  1045         1          1        1
2   Nighthawks     2nd      25        2  1099        62          3        1
3   Nighthawks     2nd     616        2  1400        26          3        1
4     Dragoons     1st      43        4  1592        73          2        0
6     Dragoons     2nd     523        8   987       949          2        0
10      Scouts     2nd      37        8  1099        63          2        1
11      Scouts     2nd      35        9  1523       345          3        1

    deserters    origin
0           4   Arizona
2          31     Texas
3           2   Florida
4           3     Maine
6          24    Alaska
10          2  Louisana
11          3   Georgia

In [28]:
#Step 15. Select all the regiments not named "Dragoons"
selected_data = army["regiment"]
display(selected_data)
selected_data= army[army["regiment"]!="Dragoons"]
display(selected_data)

0     Nighthawks
1     Nighthawks
2     Nighthawks
3     Nighthawks
4       Dragoons
5       Dragoons
6       Dragoons
7       Dragoons
8         Scouts
9         Scouts
10        Scouts
11        Scouts
Name: regiment, dtype: object

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters,origin
0,Nighthawks,1st,523,5,1045,1,1,1,4,Arizona
1,Nighthawks,1st,52,42,957,5,2,0,24,California
2,Nighthawks,2nd,25,2,1099,62,3,1,31,Texas
3,Nighthawks,2nd,616,2,1400,26,3,1,2,Florida
8,Scouts,1st,62,4,973,48,2,0,2,Oregon
9,Scouts,1st,73,7,1005,435,1,0,3,Wyoming
10,Scouts,2nd,37,8,1099,63,2,1,2,Louisana
11,Scouts,2nd,35,9,1523,345,3,1,3,Georgia

In [29]:
#Step 16. Select the rows called Texas and Arizona:
selected_data= army.loc[army["origin"].isin(["Texas", "Arizona"])]
display(selected_data)

,regiment,company,deaths,battles,size,veterans,readiness,armored,deserters,origin
0,Nighthawks,1st,523,5,1045,1,1,1,4,Arizona
2,Nighthawks,2nd,25,2,1099,62,3,1,31,Texas

In [32]:
#Step 17. Select the third cell in the row named Arizona
selected_data = army.loc[army["origin"]=="Arizona"].iloc[0,2]
display(selected_data)

523

In [34]:
#Step 18. Select the third cell down in the column named deaths:
selected_data= army.at[2, "deaths"] #at methodis used to directly access the value at the specified row and column.
display(selected_data)

25

Grouping_Alcohol_Consumption

In [36]:
#Step 2. Import the dataset from this address.
data = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
#Step 3. Assign it to a variable called drinks.
drinks = pd.read_csv(data)
display(drinks)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [39]:
#Step 4. Which continent drinks more beer on average?
beer_drinking_by_continent = drinks.groupby("continent")["beer_servings"].mean().idxmax()
display(beer_drinking_by_continent)

'EU'

In [40]:
#Step 5. For each continent print the statistics for wine consumption.
wine_consumption_per_continent = drinks.groupby("continent")["wine_servings"].describe()
print(wine_consumption_per_continent)

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [43]:
#Step 6. Print the mean alcohol consumption per continent for every column
alcohol_consumption = drinks.groupby("continent").mean()
print(alcohol_consumption)

TypeError: Could not convert AlgeriaAngolaBeninBotswanaBurkina FasoBurundiCote d'IvoireCabo VerdeCameroonCentral African RepublicChadComorosCongoDR CongoDjiboutiEgyptEquatorial GuineaEritreaEthiopiaGabonGambiaGhanaGuineaGuinea-BissauKenyaLesothoLiberiaLibyaMadagascarMalawiMaliMauritaniaMauritiusMoroccoMozambiqueNamibiaNigerNigeriaRwandaSao Tome & PrincipeSenegalSeychellesSierra LeoneSomaliaSouth AfricaSudanSwazilandTogoTunisiaUgandaTanzaniaZambiaZimbabwe to numeric

In [44]:
#Step 7. Print the median alcohol consumption per continent for every column
median_alcohol = drinks.groupby("continent").median()
print(median_alcohol)

TypeError: could not convert string to float: 'Algeria'

In [45]:
#Step 8. Print the mean, min and max values for spirit consumption. This time output a DataFrame
statististic_on_spirit_consumption = drinks.groupby("continent")["spirit_servings"].agg(["mean","min","max"])
display(statististic_on_spirit_consumption)

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302

Occupation

In [51]:
#Step 1. Import the necessary libraries
#Step 2. Import the dataset from this address.
#Step 3. Assign it to a variable called users.

data = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
users= pd.read_csv(data)
print(users)
users= pd.DataFrame(users)
print(users)
print(users.columns)

    user_id|age|gender|occupation|zip_code
0                  1|24|M|technician|85711
1                       2|53|F|other|94043
2                      3|23|M|writer|32067
3                  4|24|M|technician|43537
4                       5|33|F|other|15213
..                                     ...
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

[943 rows x 1 columns]
    user_id|age|gender|occupation|zip_code
0                  1|24|M|technician|85711
1                       2|53|F|other|94043
2                      3|23|M|writer|32067
3                  4|24|M|technician|43537
4                       5|33|F|other|15213
..                                     ...
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

[943 rows x 1 columns]
Index(['user_id|age|gender|occupation|zip_code'], dtype='object')

In [52]:
#Step 4. Discover what is the mean age per occupation
mean_age_per_occupation = users.groupby(" occupation")["age"].mean()
print(mean_age_per_occupation)

KeyError: ' occupation'

In [ ]:
#Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [53]:
#Step 6. For each occupation, calculate the minimum and maximum ages
min_and_max_age_per_occupation = users.groupby('occupation')['age'].agg(['min', 'max'])
print(min_and_max_age_per_occupation)

KeyError: 'occupation'

In [ ]:
#Step 8. For each occupation present the percentage of women and men

Regiments

In [57]:
#Step 1. Import the necessary libraries

#Step 2. Create the DataFrame with the following values:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'],
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}
print(raw_data)

{'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd'], 'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3], 'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [58]:
#Step 3. Assign it to a variable called regiment.
#Don't forget to name each column
regiment = pd.DataFrame(raw_data)
print(regiment)

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

In [59]:
#Step 4. What is the mean preTestScore from the regiment Nighthawks?
mean_preTestScore_nighthawks = regiment[regiment['regiment'] == 'Nighthawks']['preTestScore'].mean()
print(mean_preTestScore_nighthawks)

15.25

In [56]:
#Step 5. Present general statistics by company:
general_statistics_by_company = regiment.groupby('company').describe()
print(general_statistics_by_company)

        deaths                                                           \
         count        mean         std   min   25%   50%     75%    max
company
1st        6.0  164.500000  189.551840  43.0  54.5  67.5  193.75  523.0
2nd        6.0  216.333333  275.407819  25.0  35.5  49.5  407.75  616.0

        battles             ... armored      deserters                        \
          count       mean  ...     75%  max     count       mean        std
company                     ...
1st         6.0  11.500000  ...    0.75  1.0       6.0   6.666667   8.524475
2nd         6.0   5.333333  ...    1.00  1.0       6.0  15.500000  14.652645


         min   25%   50%    75%   max
company
1st      2.0  3.00   3.5   4.00  24.0
2nd      2.0  2.25  13.5  29.25  31.0

[2 rows x 56 columns]

In [61]:
#Step 7. Present the mean preTestScores grouped by regiment and company:
mean_preTestScores = regiment.groupby(['regiment', 'company'])['preTestScore'].mean()
print(mean_preTestScore_nighthawks)

15.25

In [62]:
#Step 8. Present the mean preTestScores grouped by regiment and company without hierarchical indexing:
mean_preTestScores = regiment.groupby(['regiment', 'company'])['preTestScore'].mean().reset_index()
print(mean_preTestScores)

     regiment company  preTestScore
0    Dragoons     1st           3.5
1    Dragoons     2nd          27.5
2  Nighthawks     1st          14.0
3  Nighthawks     2nd          16.5
4      Scouts     1st           2.5
5      Scouts     2nd           2.5

In [63]:
#Step 9. Group the entire dataframe by regiment and company:
Grouping = regiment.groupby(["regiment", "company"])
print(Grouping)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f8b31763d60>

In [64]:
#Step 10. What is the number of observations in each regiment and company:
observation_count_per_regiment_and_company= regiment.groupby(['regiment', 'company']).size()
print(observation_count_per_regiment_and_company)

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

In [65]:
#Step 11. Iterate over a group and print the name and the whole data from the regiment
grouped = regiment.groupby('regiment')
for name, group in grouped:
    print(name)
    print(group)

Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57
Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70