<a href="https://colab.research.google.com/github/OJO44/Python-Data-Analysis/blob/main/PythonDailyPractice4WindStat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Wind Stat**

In [1]:
#Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

In [3]:
#Step 2. Import the dataset from this address
#Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data"
data = pd.read_csv(url, sep='\s+', parse_dates=[[0, 1, 2]], dayfirst=True)
#the parse_dates parameter is used to specify which columns should be parsed as dates.
# When parse_dates is set to a list of lists, it indicates that the specified columns should be combined and parsed as a single datetime column.
data.head()

<ipython-input-3-9b8d906ef339>:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data = pd.read_csv(url, sep='\s+', parse_dates=[[0, 1, 2]], dayfirst=True)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-02-01,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-03-01,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-04-01,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-05-01,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [ ]:
#Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [5]:
#Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].
data['date'] = pd.to_datetime(data[['Yr_Mo_Dy']], format='%y%m%d')
data = data.set_index('date')
print(data)

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

In [6]:
#Step 6. Compute how many values are missing for each location over the entire record.
#They should be ignored in all calculations below.
missing_values = data.isnull().sum()
print(missing_values)

Yr_Mo_Dy    0
RPT         6
VAL         3
ROS         2
KIL         5
SHA         2
BIR         0
DUB         3
CLA         2
MUL         3
CLO         1
BEL         0
MAL         4
dtype: int64

In [13]:
#Step 7. Compute how many non-missing values there are in total.
non_missing_values = data.notnull().sum()
print(non_missing_values)
total= non_missing_values.sum()
print("\n", "total is equal to:", total)

Yr_Mo_Dy    6574
RPT         6568
VAL         6571
ROS         6572
KIL         6569
SHA         6572
BIR         6574
DUB         6571
CLA         6572
MUL         6571
CLO         6573
BEL         6574
MAL         6570
dtype: int64

 total is equal to: 85431

In [16]:
#Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#A single number for the entire dataset.
#mean_windspeed = data.mean().mean()
#print(mean_windspeed)
#we use select_dtypes to include only the columns with data type float64 and then calculating the mean
mean_windspeed = data.select_dtypes(include=['float64']).stack().mean()
print(mean_windspeed)

10.22788376428218

In [17]:
#Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days
#A different set of numbers for each location.
loc_stats = data.agg(['min', 'max', 'mean', 'std'])
print(loc_stats)

                           Yr_Mo_Dy        RPT        VAL        ROS  \
min             1974-01-01 00:00:00   0.670000   0.210000   1.500000
max             2073-12-31 00:00:00  35.800000  33.370000  33.840000
mean  2042-03-23 06:48:57.389716992  12.362987  10.644314  11.660526
std   14936 days 08:22:10.054896896   5.618413   5.267356   5.008450

            KIL        SHA        BIR        DUB        CLA        MUL  \
min    0.000000   0.130000   0.000000   0.000000   0.000000   0.000000
max   28.460000  37.540000  26.160000  30.370000  31.080000  25.880000
mean   6.306468  10.455834   7.092254   9.797343   8.495053   8.493590
std    3.605811   4.936125   3.968683   4.977555   4.499449   4.166872

            CLO        BEL        MAL
min    0.040000   0.130000   0.670000
max   28.210000  42.380000  42.540000
mean   8.707332  13.121007  15.599079
std    4.503954   5.835037   6.699794

In [19]:
#Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.
#A different set of numbers for each day.
day_stats = data.select_dtypes(include=['float64']).agg(['min', 'max', 'mean', 'std'], axis=1)
print(day_stats)

       min    max       mean       std
0     9.29  18.50  13.018182  2.808875
1     6.50  17.54  11.336364  3.188994
2     6.17  18.50  11.641818  3.681912
3     1.79  11.75   6.619167  3.198126
4     6.17  13.33  10.630000  2.445356
...    ...    ...        ...       ...
6569  8.08  40.08  16.708333  7.868076
6570  5.00  41.46  15.150000  9.687857
6571  8.71  29.58  14.890000  5.756836
6572  9.13  28.79  15.367500  5.540437
6573  9.59  27.29  15.402500  5.702483

[6574 rows x 4 columns]

In [ ]:
#Step 11. Find the average windspeed in January for each location.
#Treat January 1961 and January 1962 both as January.
january_windspeed = data[data.index.Mo == 1].groupby(data.index.Yr).mean()
#data[data.index.month == 1]-filters the DataFrame data to include only the rows where the month of the index is equal to 1, i.e., January.
print(january_windspeed)

In [ ]:
#Step 12. Downsample the record to a yearly frequency for each location.
yearly_data= data.resample('Y').mean()
print(yearly_data)

In [ ]:
#Step 13. Downsample the record to a monthly frequency for each location.
monthly_data = data.resample('M').mean()
print(monthly_data)

In [ ]:
#Step 14. Downsample the record to a weekly frequency for each location.
weekly_data = data.resample('W').mean()
print(weekly_data)

In [ ]:
#Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.
weekly_stats = data.resample('W').agg(['min', 'max', 'mean', 'std']).iloc[:52]
print(weekly_stats)