<a href="https://colab.research.google.com/github/OJO44/Python-Data-Analysis/blob/main/PythonDailyPractice4Ocuupation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Occupation**

In [1]:
#Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

In [23]:

# Step 2. Import the dataset from this address.
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"


# Step 3. Assign it to a variable called users and use the 'user_id' as index
users = pd.read_csv(url,delimiter='|', index_col= "user_id") #delimiter='|': This specifies the delimiter used in the dataset. In this case, the delimiter is set to '|' (pipe character). This is used to indicate that the columns in the dataset are separated by the '|' character.
# Step 4. See the first 25 entries
users.head(25)
users['age'] = users['age'].astype(float)
users.head(25)

          age gender     occupation zip_code
user_id
1        24.0      M     technician    85711
2        53.0      F          other    94043
3        23.0      M         writer    32067
4        24.0      M     technician    43537
5        33.0      F          other    15213
6        42.0      M      executive    98101
7        57.0      M  administrator    91344
8        36.0      M  administrator    05201
9        29.0      M        student    01002
10       53.0      M         lawyer    90703
11       39.0      F          other    30329
12       28.0      F          other    06405
13       47.0      M       educator    29206
14       45.0      M      scientist    55106
15       49.0      F       educator    97301
16       21.0      M  entertainment    10309
17       30.0      M     programmer    06355
18       35.0      F          other    37212
19       40.0      M      librarian    02138
20       42.0      F      homemaker    95660
21       26.0      M         writer    30068
22       25.0      M         writer    40206
23       30.0      F         artist    48197
24       21.0      F         artist    94533
25       39.0      M       engineer    55107

In [24]:
#Step 5. See the last 10 entries
users.tail(10)

          age gender     occupation zip_code
user_id
934      61.0      M       engineer    22902
935      42.0      M         doctor    66221
936      24.0      M          other    32789
937      48.0      M       educator    98072
938      38.0      F     technician    55038
939      26.0      F        student    33319
940      32.0      M  administrator    02215
941      20.0      M        student    97229
942      48.0      F      librarian    78209
943      22.0      M        student    77841

In [8]:
#Step 6. What is the number of observations in the dataset?
print(users.shape)

(943, 4)

In [10]:
#Step 7. What is the number of columns in the dataset?
print(users.shape[1])

4

In [11]:
#Step 8. Print the name of all the columns.
for col in users.columns:
    print(col)

age
gender
occupation
zip_code

In [12]:
#Step 9. How is the dataset indexed?
print(users.index)

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

In [13]:
#Step 10. What is the data type of each column?
print(users.columns.dtype)

object

In [14]:
#Step 11. Print only the occupation column
print(users["occupation"])

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [15]:
#Step 12. How many different occupations are in this dataset?
print(users["occupation"].nunique())

21

In [16]:
#Step 13. What is the most frequent occupation?
frequent_occupation = users["occupation"].value_counts().idxmax()
print(frequent_occupation)

student

In [18]:
#Step 14. Summarize the DataFrame.
print(users.describe())

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [19]:
#Step 15. Summarize all the columns
print(users.describe())

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [20]:
#Step 16. Summarize only the occupation column
print(users["occupation"].describe())

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [26]:
#Step 17. What is the mean age of users?
mean_age = users["age"].mean()
print(mean_age)

34.05196182396607

In [27]:
# Step 18. What is the age with the least occurrence?
min_age_occurrences = users['age'].value_counts().idxmin()
print(min_age_occurrences)

7.0