<a href="https://colab.research.google.com/github/OJO44/Python-Data-Analysis/blob/main/PythonDailyPractice3HousingMarket.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Housing Market**

In [1]:
import pandas as pd
import numpy as np

In [4]:
#Step 2. Create 3 differents Series, each of length 100, as follows:
#The first a random number from 1 to 4
#The second a random number from 1 to 3
#The third a random number from 10,000 to 30,000
series1 = pd.Series(np.random.randint(1,5, size = 100))
series2 = pd.Series(np.random.randint(1,4, size = 100))
series3 = pd.Series(np.random.randint(10000, 30001, size = 100))
print(series1)
print(series2)
print(series3)

0     3
1     1
2     3
3     1
4     1
     ..
95    3
96    3
97    1
98    3
99    1
Length: 100, dtype: int64
0     2
1     3
2     1
3     2
4     1
     ..
95    3
96    1
97    1
98    2
99    2
Length: 100, dtype: int64
0     11612
1     20243
2     13124
3     21589
4     21093
      ...
95    12549
96    26242
97    29869
98    11690
99    19075
Length: 100, dtype: int64

In [32]:
#Step 3. Let's create a DataFrame by joinning the Series by column
df1 = pd.DataFrame({'bedroom': series1, 'bathroom': series2, 'price': series3})
print(df1)
#Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter
df1 = df1.rename(columns={'bedroom': 'bedrs', 'bathroom': 'bathrs', 'price': 'price_sqr_meter'})
print(df1)

    bedroom  bathroom  price
0         3         2  11612
1         1         3  20243
2         3         1  13124
3         1         2  21589
4         1         1  21093
..      ...       ...    ...
95        3         3  12549
96        3         1  26242
97        1         1  29869
98        3         2  11690
99        1         2  19075

[100 rows x 3 columns]
    bedrs  bathrs  price_sqr_meter
0       3       2            11612
1       1       3            20243
2       3       1            13124
3       1       2            21589
4       1       1            21093
..    ...     ...              ...
95      3       3            12549
96      3       1            26242
97      1       1            29869
98      3       2            11690
99      1       2            19075

[100 rows x 3 columns]

In [29]:
# Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'
bigcolumn = pd.concat([series1, series2, series3], ignore_index=True)
print(bigcolumn)

0          3
1          1
2          3
3          1
4          1
       ...
295    12549
296    26242
297    29869
298    11690
299    19075
Length: 300, dtype: int64

In [30]:
# Step 6. Check the length of the bigcolumn
print(len(bigcolumn))

300

In [31]:
# Step 7. Reindex the DataFrame so it goes from 0 to 299
df1 = df1.reindex(range(300))
print(df1)

     bedroom  bathroom    price
0        3.0       2.0  11612.0
1        1.0       3.0  20243.0
2        3.0       1.0  13124.0
3        1.0       2.0  21589.0
4        1.0       1.0  21093.0
..       ...       ...      ...
295      NaN       NaN      NaN
296      NaN       NaN      NaN
297      NaN       NaN      NaN
298      NaN       NaN      NaN
299      NaN       NaN      NaN

[300 rows x 3 columns]